<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Snippet1 SS3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
<h1>Sample AngularJS Application</h1>

<div ng-app="" ng-init="countries = [{locale: 'en-US', name: 'United State' }, {locale: 'en-GB', name: 'United Kingdom'},
        {locale: 'en-FR', name: 'France'}]">

    <p>Enter Your Name: <input type="text" ng-model="name"></p>
    <p>Hello {{name}}</p>  <!-- Hoặc dùng hello <span ng-bind="name"></span> đều được, ta đã học nó ở bài extension -->
    <p>List of Countries with locale code: </p>
    <ol>
        <li ng-repeat="country in countries">
            {{ 'Country Name: ' + country.name + ' Locale Code: ' + country.locale}}
        </li>
    </ol>
</div>

<!--    trong bài này có thêm 2 directive mới là ng-init và ng-repeat.-->
<!--        ta hiểu đơn giản:-->
<!--            ng-init dùng để khởi tạo dữ liệu cho application, và nó có thể can thiệp vào $scope-nơi lưu trữ-->
<!--            dữ liệu và sửa đổi chúng.-->
<!--            ng-repeat: sẽ lặp lại phần tử HTML với mỗi item của tập hợp. ở bài này, ng-repeat lặp lại 3 lần -->
<!--            phần tử li của HTML tương ứng với mỗi quốc gia trong tập hợp 3 quốc gia đã khởi tạo băng ng-init-->
</body>
</html>